/*>>>>>>>>>>>> 5. About Us <<<<<<<<<<<<<<<<< */
.number, .name
{
	color:#F44234;
}
.name
{
	border-bottom:2px solid #F44234;
}
/*>>>>>>>>>>>> /5. About Us <<<<<<<<<<<<<<<<< */

/*>>>>>>>>>>>> 6. Services <<<<<<<<<<<<<<<<< */
.services_icon i
{
	color:#F44234;
}
/*>>>>>>>>>>>> /6. Services <<<<<<<<<<<<<<<<< */

/*>>>>>>>>>>>> 7. Contact Us <<<<<<<<<<<<<<<<< */
.contact_form .btn
{
	background-color:#F44234;
	color:#fff;
}
.contact_form .btn:hover{
    background-color:#d6281b;
}
.contact_detail i
{
	color:#F44234;
}
.form-control:focus{border-bottom-color:#F44234;outline:0;}
/*>>>>>>>>>>>> /7. Contact Us <<<<<<<<<<<<<<<<< */

/*>>>>>>>>>>>> 9. Counter <<<<<<<<<<<<<<<<< */
.counter .day_holder, .counter .hour_holder, .counter .minute_holder, .counter .second_holder {
	border: 3px solid #F44234;
	
}
/*>>>>>>>>>>>> /9. Counter <<<<<<<<<<<<<<<<< */

/*>>>>>>>>>>>> 10. Social Icon <<<<<<<<<<<<<<<<< */
.social_icon li a i:after 
{	
	color:#F44234;
}
/*>>>>>>>>>>>> /10. Social Icon <<<<<<<<<<<<<<<<< */

/*>>>>>>>>>>>> 11. Subscribe <<<<<<<<<<<<<<<<< */
.subscribe-body .btn-default
{
	background-color:#F44234 !important;
	border-color:#F44234 !important;
}
.subscribe-body .input-group-btn:before
{
	border-color: transparent #F44234;
}
/*>>>>>>>>>>>> /11. Subscribe <<<<<<<<<<<<<<<<< */

/*>>>>>>>>>>>> 12. Contact Info <<<<<<<<<<<<<<<<< */
.contact_info p:hover
{
	color:#F44234;
}
/*>>>>>>>>>>>> /12. Contact Info <<<<<<<<<<<<<<<<< */

/*>>>>>>>>>>>> 13. Copy Right <<<<<<<<<<<<<<<<< */
.copy_right a:hover 
{
	color:#F44234;
}
/*>>>>>>>>>>>> /13. Copy Right <<<<<<<<<<<<<<<<< */
/*>>>>>>>>>>>> 14. Progress Bar <<<<<<<<<<<<<<<<< */
.progress-bar
{
	background-color:#F44234;
}
.progress .progress-bar{
    border-radius: 50px;
	 box-shadow:-1px 10px 10px rgba(244, 66, 52, 0.7);
}
/*>>>>>>>>>>>> /14. Progress Bar <<<<<<<<<<<<<<<<< */

/*>>>>>>>>>>>> /15. Color change <<<<<<<<<<<<<<<<< */
.color_pick_wrap #color_open_close {
    border-color:#F44234 !important;
}
/*>>>>>>>>>>>> /15. Color change <<<<<<<<<<<<<<<<< */